.background {
  background-color: #f5d0fe;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.white {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
}
.input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.input {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid grey;
}
.btn {
  color: #ffffff;
  background-color: #d946ef;
  border: none;
  cursor: pointer;
  outline: none;
  margin-left: 5px;
  padding: 10px;
  border-radius: 3px;
}
.para {
  color: #323f4b;
}